body {
background-image:url("file:../slike/slocam.jpg");
background-size:1000px;
}

#naslov {
color:rgb(30, 60, 0);
text-transform:uppercase;
font-size:2em;
text-shadow:5px 5px 15px rgb(20, 20, 20);
text-align:center;
font-weight:900;
-webkit-text-fillcolor:rgb(30, 60, 0);
-webkit-text-stroke-width:1px;
-webkit-text-stroke-color:green;
padding:15px;
font-family:Arial, sans-serif;
}

#celBody {
height:500px;
width:350px;
background-color:rgba(51, 102, 0, 0.3);
margin:40px auto;
position:relative;
border-radius:20px; 
}

#letalo {
position:absolute;
width:344px;
height:100px;
border:3px solid DarkGreen;
bottom:18px;
}

#insignias {
position:absolute;
top:100px;
width:100%;
text-align:center;
}

#insignias #insignia2, #insignias #insignia1, #insignias #insignia0 {
display:inline-block;
}

#insignia0 {
padding:20px;
}

#insignia2 {
padding:20px;
}

#timer {
margin:0 auto;
bottom:300px;
font-weight:800;
font-size:2em;
font-family:Arial, sans-serif;
background-color:rgba(40, 80, 0, 0.7) ;
border-radius:10px;
margin:20px;
-webkit-text-fillcolor:rgb(30, 60, 0);
-webkit-text-stroke-width:1px;
-webkit-text-stroke-color:green;
}

.nazaj{
position:absolute;
font-weight:bolder;
border-radius:20px;
border:2px solid DarkGreen;
width:70px;
background-color:green;
margin:0 0 0 -35px;
box-shadow:4px 4px 10px #222222;
left:50%;
right:50%;
}

a:link{
text-decoration:none;
color:black;
}
a:visited{
color:black;
}

a:hover{
color:red;
}
a:active{
color:red;
}

.noga {
text-align:center;
margin:0 auto;
width:100%;
padding:auto;
background-color:DarkGreen;
position:absolute;
bottom:0;
border-bottom-left-radius:20px;
border-bottom-right-radius:20px;
}